@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root {
    --color:red;
    --size:80%;
    --radius:2%;
}

.slider {
    background: var(--color);
    width:var(--size);
    height: 300px;
    margin-bottom: 10px;
    border-radius: var(--radius);
}

.content {
    background: var(--color);;
    width: var(--size);
    height: 500px;
    margin-bottom: 10px;
    border-radius: var(--radius);

}


.footer {
    background: var(--color);;
    width: var(--size);
    height: 100px;
    margin-bottom: 10px;
    border-radius: var(--radius);

}


p {
    font-family: 'Roboto', sans-serif;
}